<div class="js-column-holder column-holder">
	<div class="column-panel">
		<header class="js-column-header js-action-header column-header " data-selector="header" data-action="resetToTopColumn">
			<i class="sprite column-updates"></i>
			<i class="obj-right column-type-icon icon icon-home"></i>
			<h1 class="column-title txt-ellipsis">{{title}}</h1>
			<a class="js-action-header-button column-settings-link" href="#" data-action="options">Edit</a>
		</header>
		<div class="js-column-options column-options" data-selector="options"></div>
		<div class="js-column-scroller column-scroller scroll-v is-column-scroller-animating">
			<div data-selector="stream"></div>
		</div>
	</div>
	<div data-selector="detail"></div>
</div>