<header class="app-header"">
<div class="column-navigator">
  <div class="pull-left">
    <ul class="app-nav-block">
      <li class="app-nav-item"><h1 class="app-title">脑神经</h1></li>
    </ul>
  </div>
  <div class="pull-right"> 
  	<ul class="app-nav-block pull-right"> 
  		<li class="app-nav-item with-dropdown"> 
  			<a class="js-header-action js-app-settings app-nav-settings link-clean" data-action="settings-menu" href="javascript:void(0);"> 
  				<i class="app-nav-icon icon icon-settings icon-medium"></i> 
  				<span class="is-vishidden">Settings</span> 
  			</a> 
  		</li>  
  		<li class="app-nav-item"> 
  			<button class="js-header-action app-nav-item tweet-button sprite" data-action="show-compose"> 
  				<span class="is-vishidden">Compose</span> 
  			</button> 
  		</li> 
  	</ul> 
  </div>
</div>
</header>

<div class="app-content" id="container">
  <div class="app-columns" id="columns">
  </div>
</div>