<div class="l-column mdl-column-sml">
    <div class="l-column mdl-column-sml">
        <div class="l-column-scrollv scroll-v scroll-alt ">
            <ul class="lst-group js-setting-list">
                <li class="selected">
                    <a href="#" class="list-link" data-action="accounts"><strong>Accounts</strong><i class="chev-right"></i></a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="l-column mdl-column-lrg">
    <div class="l-column-scrollv scroll-v scroll-alt mdl-col-settings">
        <form action="#" id="global-settings" accept-charset="utf-8" class="frm">
            <fieldset id="account_settings" class="frm-accounts">
                <legend class="frm-legend">
                    Account Settings
                </legend>
                <div class="control-group">
                    <select name="service">
                        {{#accountTypes}}
                        <option value="{{type}}">
                            {{label}}
                        </option>
                        {{/accountTypes}}
                    </select>
                    <input type="button" name="add_account" value="Add Account" class="btn btn-primary js-add-account">
                </div>
                <ul class="js-account-container" data-selector="account-container">
                	{{#accounts}}
                    <li>
                        <div class="js-account list-account cf">
                            <img src="{{profile_image_url}}"
                            alt="{{name}}" class="avatar">
                            <div class="content">
                                <strong class="fullname">
                                    {{screen_name}}
                                </strong>
                                <span class="username">
                                    <span class="at">
                                        @
                                    </span>
                                    {{name}}
                                </span>
                            </div>
                        </div>
                    </li>
                    {{/accounts}}
                </ul>
            </fieldset>
        </form>
    </div>
</div>