<div class="js-column-detail column-detail column-panel">
	<header class="js-detail-header column-header" data-action="back">
		<a class="js-column-back link-complex" href="javascript:void(0);">
			<div class="column-title-back txt-ellipsis">
				<i class="icon icon-arrow-left"></i>
				<span class="link-complex-target">Back to {{title}}</span>
			</div>
		</a>
	</header>

	<div class="js-detail-container column-scroller scroll-v scroll-conversation">
		<div class="js-detail-content">
			<div class="js-component">
				{{#retweet}}
				{{> tweet}}
				{{/retweet}}
			</div>
			{{#tweet}}
			<div class="js-tweet-detail tweet-detail-wrapper">
				<article class="stream-item js-stream-item ">
					<div class="item-box js-stream-item-content">
						<div class="js-tweet tweet-detail  ">
							<div class="account-summary cf">
								<a class="obj-left item-img" href="http://weibo.com/{{user.profile_url}}" rel="user" target="_blank" tabindex="-1">
									<img class="tweet-avatar avatar pull-right" src="{{user.profile_image_url}}" width="48" height="48" alt="{{user.name}}'s avatar">
								</a>

								<div class="nbfc-alt padding-tl">
									<div class="nbfc">
										<a class="account-link link-complex inline-block" href="http://twitter.com/{{user.profile_url}}" rel="user" target="_blank">
											<b class="fullname block link-complex-target txt-ellipsis">{{user.screen_name}}</b>
											<span class="username block txt-ellipsis txt-mute"> <span class="at">@</span>{{user.name}}  </span>
										</a>
									</div>
								</div>
							</div>
							<p class="txt-large txt-serif margin-vl">{{text}}</p>

							<div class="margin-tl txt-mute txt-small">
								<a href="{{url}}" rel="url" target="_blank">{{createdTime}}</a> · {{&source}}
							</div>
							<div class="js-tweet-media tweet-detail-media">
								<div class="js-media media-preview detail-preview">
									{{#bmiddle_pic}}
									<a class="med-link" href="{{original_pic}}" rel="mediaPreview" target="_blank" style=" ">
										<img class="media-img" src="{{bmiddle_pic}}" alt="Media preview">
									</a>
									{{/bmiddle_pic}}
								</div>
							</div>
							<div class="js-cards-container"></div>
							<footer>
								<div class="js-tweet-stats"></div>
								<ul class="tweet-detail-actions">
									<li class="tweet-detail-action-item"><a class="tweet-detail-action" href="#" rel="reply">
										<i class="icon icon-reply"></i><span class="is-vishidden">Reply</span> </a></li>
									<li class="tweet-detail-action-item"><a class="tweet-detail-action" href="#" rel="retweet">
										<i class="icon icon-retweet icon-retweet-toggle"></i><span class="is-vishidden">Retweet</span> </a>
									</li>
									<li class="tweet-detail-action-item">
										<a class="tweet-detail-action js-show-tip" href="#" rel="favorite" title="Favorite">
											<i class="icon icon-favorite icon-favorite-toggle"></i><span class="is-vishidden">Favorite</span>
										</a>
									</li>
									<li class="tweet-detail-action-item with-dropdown">
										<a class="tweet-detail-action" href="#" rel="actionsMenu">
											<i class="icon icon-more"></i><span class="is-vishidden">Options</span> </a></li>
								</ul>
							</footer>
							<i class="sprite tweet-dogear"></i></div>
					</div>
				</article>
			</div>
			<div class="js-tweet-replies tweet-detail-reply">
				<div class="js-component">
					<div class="replies-after" data-selector="replies">
					</div>
				</div>
			</div>
			{{/tweet}}
		</div>
	</div>

</div>