<article class="stream-item is-actionable" data-tweet-id="{{id}}">
	<div class="item-box">
		<div class="tweet">
			<header class="tweet-header">
				<time class="tweet-timestamp pull-right txt-mute txt-small" title="{{created_at}}">
					{{prettyCreatedTime}}
				</time>
				<a href="http://weibo.com/{{user.profile_url}}" rel="user" target="_blank" class="account-link link-complex block">
					<div class="obj-left item-img tweet-img">
						<img class="tweet-avatar avatar pull-right" src="{{user.profile_image_url}}" width="48" height="48" alt="">
					</div>
					<div class="nbfc">
            <span class="account-inline txt-ellipsis ">
                <b class="fullname">{{user.screen_name}}</b>
                <span class="username txt-mute"><span class="at">@</span>{{user.name}}</span>
            </span>
					</div>
				</a>
			</header>
			<div class="tweet-body">
				<p class="tweet-text">{{text}}</p>
				<div class="js-media media-preview ">
					{{#thumbnail_pic}}
					<a class="med-link media-thumb-container" href="javascript:void(0);" rel="mediaPreview"
					   style="width:65px; height:65px;">
						<img class="media-thumb-img" src="{{thumbnail_pic}}" alt="Media preview">
					</a>
					{{/thumbnail_pic}}
				</div>
				<footer class="tweet-footer cf">
					<a class="txt-mute txt-small link-complex" href="javascript:void(0);" rel="viewDetails">{{#retweeted_status
						}}Conversation{{/retweeted_status}}{{^retweeted_status}}Detail{{/retweeted_status}}</a>
				</footer>
			</div>
			<i class="sprite tweet-dogear"></i>
		</div>
	</div>
</article>